canonicalwebteam.flask-base==1.0.2
alchemy-mock==0.4.3
apispec==4.7.1
Flask==1.1.4
flask-apispec==0.11.0
launchpadlib==1.10.15.1
macaroonbakery==1.3.1
marshmallow==3.14.1
python-dateutil==2.8.2
psycogreen==1.0.2
psycopg2-binary==2.9.3
SQLAlchemy==1.4.29
webargs==6.1.1
black==21.12b0
sortedcontainers==2.4.0
Flask-SQLAlchemy==2.5.1
Flask-Migrate==3.1.0

